/*==============================================
COMMON STYLE
==============================================*/
body{
    font-family: "Amita";
    letter-spacing: 3px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}
li{
    text-decoration: none;
    display: inline-block;
}

/*=============================================
HEADER
==============================================*/
.nav-bar{   
    background-color: #000; 
    width: 100%;
    height: 80px;
    line-height: 80px;
    box-shadow: rgba(0,0,0,0.5) 0.05em 0.06em 4px;
}

.nav-bar a{
    color: #fff;
}

.logo{
    font-size: 2em;
    width: 6em;
    height: 80px;
    float: left;
    margin-left: 8%;    
}

.list{
    font-size: 1.5em;
    height: 80px;
    margin-right: 8%;
    float: right;
}

.nav-bar li{
    margin: 0 0.8em;
}
/****************Article***********************/
.articles{
    width: 50em;
    margin: 0 auto;
}

.article{
    position: relative;
    width: 90%;
    margin: 3em auto;
    padding: 1em 1em;
    border: #eee solid 0.1em;        
    box-shadow: rgba(158,158,158,0.5) 0.05em 0.1em 4px;
    border-radius: 0.5em;
}

/*******Article-image******/
.article-image{
    width: 100%;
    height: 20em;
    overflow: hidden;
}

.article-image img{
    width: 100%;
    height: 380px;
}
.article-title{
    font-size: 1.5em;
    margin-top: 0.5em;
}

.article li{
    margin: 0.5em 1em 0 0;
}

.article hr{
    width: 100%;
    height: 3px;
    background: #fff;
    border: #000 dotted 1px;
    margin: 1em auto;
}
/*******Article-tag*****/

.article .article-tag{
    color: #fff;
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: rgba(0,96,100,0.8);
    border-radius: 1em;
}

.article .fa-tags{
    color: white;
    margin-right: 0.5em;    
}

/*******Article-info*******/

.author{
    display: inline-block;
    height: 3em;
    line-height: 3em;
    margin-top: 1em;
}

.author .image{
    display: inline-block;
    vertical-align: middle;       
}   

.author img{
    width: 3em;
    height: 3em;
    border-radius: 3em; 
}

.author .name{
    display: inline-block;    
    height: 3em;
    line-height: 3em; 
    margin-left: 1em;
}

.time{
    display: inline-block;        
    height: 3em;
    line-height: 3em;   
    margin-left: 27em;    
}
/*=============================================
FOOTER
==============================================*/
.footer{
    width: 50em;
    margin: 0 auto;
}

/*****************Page****************/
#page {
    height: 50px;
    display: table;
    margin: 0 auto;
}

.page {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pagingUl {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 30px;
}

.pagingUl li {
    float: left;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px
}

.pagingUl li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: 12px;
    border-radius: 5px
}

.prv,
.next {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.prv {
    margin-right: 10px;
}

.first,
.last {
    width: 4em;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    /*border: 1px solid #ddd;*/
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.prv:hover,
.next:hover,
.first:hover,
.last:hover,
.pagingUl li a:hover,
.activP {
    background-color: #000 !important;
    color: #fff !important;
}